<template>
  <div id="app">
    <Header />
    <Body>
      <router-view/>
    </Body>
  </div>
</template>
<script>
import Header from '@/components/Header';
import Body from '@/components/Body';

export default {
  name: 'App',
  components: {
    Header,
    Body,
  },
};
</script>

<style>
  html, body, #app {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
  * {
    box-sizing: border-box;
  }
</style>
