<template>
  <div>
    Link
  </div>
</template>

<script>

export default {
  name: 'Link',
  components: {},
  props: {},
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">

</style>
