<template>
  <div class="body-container">
    <div class="menu-container">
      <MenuElement
        :key="element.name"
        v-for="element in menu"
        :element="element"
        />
    </div>
    <div class="body">
      <slot>
      </slot>
    </div>
  </div>
</template>

<script>
import components from '@/router/components';
import MenuElement from '@/components/MenuElement';

export default {
  name: 'Body',
  components: {
    MenuElement,
  },
  props: {},
  computed: {
    menu() {
      return [components];
    },
  },
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
.body-container {
  display: flex;
  flex-grow: 1;
  & .menu-container {
    width: 20%;
    border-right: 1px solid gray;
    padding: 1rem;
  }
  & .body {
    width: 80%;
  }
}

</style>
