<template>
<div class="header">
  <div class="logo-container">
    here will be a logo
  </div>
  <div class="search-container">
    here will be a search panel for components
  </div>
</div>
</template>

<script>

export default {
  name: 'Header',
  components: {},
  props: {},
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
.header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid gray;
  & .logo-container {
    width: calc(20% - 1rem);
    flex-shrink: 0;
  }
  & .search-container {
    flex-grow: 1;
  }
}

</style>
