<template>
  <div class="link-container">
    <div>
      {{ element.name }}
    </div>
    <div
      v-if="hasSubLinks"
      class="sublinks-container">
      <div
        class="sublink"
        :key="sublink.name"
        v-for="sublink in sublinks">
        <UiLink>
          {{ sublink.meta.menu.name }}
        </UiLink>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'MenuElement',
  components: {},
  props: {
    element: {
      type: Object,
      required: true,
    },
  },
  computed: {
    hasSubLinks() {
      return this.element.children && this.element.children.length;
    },
    sublinks() {
      return this.hasSubLinks ? this.element.children : [];
    },
  },
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
.link-container {
  display: flex;
  flex-direction: column;
  & .sublinks-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    .sublink {

    }
  }
}
</style>
